sudo: false
os:
  - linux
language: node_js
node_js:
  - "4"
  - "6"
  - "7"
env:
  matrix:
    - TEST_SUITE=unit
matrix:
  include:
    - node_js: "6"
      env: TEST_SUITE=lint
script: npm run $TEST_SUITE
